@charset "UTF-8";

/* versão mobile first */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;

}

body{
    background-image: url('../imagens/back-pc.jpg');
}

img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: block;}
img#tv{display: none;}
